@import "depend/mReset.css";
@import "depend/common.css";
#cwjDet {
  min-height: 100vh;
  background-color: #f9f9f9;
}
#cwjDet .tag-p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
}
#cwjDet .tag-p .tag-item {
  display: inline-block;
  width: 75px;
  height: 27px;
  vertical-align: middle;
  border-radius: 13px;
  background-color: #fff;
}
#cwjDet .tag-p .tag-item .tag-d {
  height: 100%;
  text-align: center;
  line-height: 27px;
  color: #333;
}
#cwjDet .tag-p .tag-item::before {
  border-radius: 44px;
  border-color: #333;
}
#cwjDet .tag-p .select {
  background-color: #4a78e1;
}
#cwjDet .tag-p .select .tag-d {
  color: #fff;
}
#cwjDet .tag-p .select::before {
  border: none;
  border-color: #4a78e1;
}
#cwjDet .top-detail {
  margin-bottom: 10px;
}
#cwjDet .top-detail .t-d-item {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 20px;
  line-height: 50px;
  background-color: #fff;
}
#cwjDet .top-detail .t-d-item .item-dt {
  position: relative;
}
#cwjDet .top-detail .t-d-item .item-dt::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -7px;
  display: inline-block;
  width: 3px;
  height: 15px;
}
#cwjDet .top-detail .t-d-item .red::before {
  background-color: #ff0000;
}
#cwjDet .top-detail .t-d-item .green::before {
  background-color: #41b200;
}
#cwjDet .top-detail .t-d-item .blue::before {
  background-color: #4a78e1;
}
#cwjDet .top-detail .t-d-item .item-num {
  color: #666;
}
#cwjDet .top-detail .t-d-item .arrow-toggle {
  display: inline-block;
}
#cwjDet .top-detail .t-d-item .arrow-toggle img {
  transition: all 300ms linear;
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
#cwjDet .top-detail .t-d-item .arrow-toggle .rotate {
  transform: rotateX(180deg);
}
#cwjDet .top-detail .t-d-item::before {
  border-color: #ddd;
}
#cwjDet .top-detail .t-d-item::after {
  border-color: #ddd;
}
#cwjDet .top-detail .qingjia-detail {
  background-color: #f7f7f7;
}
#cwjDet .top-detail .qingjia-detail .qj-student {
  margin: 10px 0;
  padding: 0px 30px 10px;
}
#cwjDet .top-detail .qingjia-detail .qj-student::after {
  border-color: #ddd;
}
#cwjDet .top-detail .qingjia-detail .stu-name {
  line-height: 2;
}
#cwjDet .top-detail .qingjia-detail .stu-qj {
  line-height: 1.2;
  font-size: 14px;
  color: #999999;
}
#cwjDet .mid-detail {
  margin-bottom: 10px;
}
#cwjDet .bot-detail .yichang-list .yichang-item {
  line-height: 50px;
  padding: 0 20px;
}
#cwjDet .bot-detail .yichang-list .yichang-item::after {
  border-color: #ddd;
}
